@import '../../../mixin.scss';

.section_container {
  @include aboutSectionContainer;

  .contents_wrapper {
    overflow: hidden;
    top: 25%;
    padding-top: 450px;
  }

  @media screen and (max-width: $maxMobile) {
    .contents_wrapper {
      padding-top: 20vh;
    }
  }
}

.content {
  font-size: 6em;
  font-weight: bold;
  word-break: keep-all;

  color: #86a8e7;

  @media screen and (max-width: $maxTablet) {
    font-size: 4em;
  }
}
