@import "../../mixin.scss";

.zaun_main__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  top: 0;
  left: 0;
}

.background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 16 / 9;
  pointer-events: none;

  .backgroundImage {
    transition: 3s all cubic-bezier(0.19, 1, 0.22, 1);

    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  img {
    height: 100%;
    min-width: 100%;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 1;
    background-color: rgba(2, 0, 0, 0.32);
    left: 0;
    top: 0;
  }
}