@import "../mixin.scss";

.main {
  width: 100%;
  height: 100%;
  margin: auto;

  header {
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 10000;

    & > div {
      margin: 38px auto;

      @media screen and (max-width: $maxTablet) {
        margin: 32px auto;
      }

      @media screen and (max-width: $maxMobile) {
        margin: 26px auto;
      }
    }
  }

  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signature {
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 40vw;
  height: 40vw;

  @media screen and (max-width: $maxTablet) {
    width: 40vmax;
    height: 40vmax;

    max-width: 80vw;
  }

  right: 0;
  bottom: 0;
  opacity: 0.16;
}

.pages {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  scroll-snap-type: y mandatory;
}

.page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;

  scroll-snap-align: start;

  &.flex {
    display: flex;
  }

  &.mobileColumn {
    @media screen and (max-width: $maxTablet) {
      flex-direction: column;

      .card {
        .background {
          height: unset;
          position: absolute;
          aspect-ratio: 16 / 9;
          left: unset;
        }
      }
    }
  }
}

.representInner {
  padding: 60px 5%;
  box-sizing: border-box;
  justify-content: center;

  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes iconDown {
  0%, 100% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(3px);
  }
}

.scrollDown {
  width: fit-content;
  align-self: center;

  letter-spacing: -0.05em;
  font-weight: bold;

  font-size: 1.25em;
  display: flex;

  opacity: 0.3;

  cursor: pointer;

  transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1), 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  @media screen and (max-width: $maxTablet) {
    font-size: 1.05em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.9em;

    width: 100%;
    display: flex;
    right: unset;

    .icon {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  .inner {
    margin: auto;
    display: flex;
    gap: 12px;
  }

  .icon {
    position: relative;
    margin: auto;
    animation: iconDown 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  h1, p {
    margin: 0;
  }

  p:nth-child(2) {
    margin-bottom: 14px;
  }

  h1 {
    font-size: 6em;
    font-weight: bold;
    letter-spacing: -4px;
  }

  p {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -2px;
  }

  @media screen and (max-width: $maxTablet) {
    h1 {
      font-size: 4.5em;
      letter-spacing: -3px;
    }    

    p {
      font-size: 1.5em;
      font-weight: normal;
      letter-spacing: -2px;
    }
  }

  @media screen and (max-width: $maxMobile) {
    h1 {
      font-size: 3em;
      letter-spacing: -2.5px;
    }    

    p {
      font-size: 1.25em;
      font-weight: normal;
      letter-spacing: -1.5px;
    }
  }
}

.card {
  position: relative;

  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  cursor: pointer;

  text-decoration: none;
  
  &:hover, &:focus {
    .background {
      &::before {
        background: rgba(0,0,0,0.24);
      }
    }

    .contents {
      transform: scale(1.05);
    }
  }

  &:hover {
    .background {
      img {
        transform: scale(1.05);
        filter: saturate(150%);
      }
    }
  }

  .background {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    aspect-ratio: 16 / 9;

    img {
      transition: 1s transform cubic-bezier(0.19, 1, 0.22, 1), 1s filter cubic-bezier(0.19, 1, 0.22, 1);
    }

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: " ";
      transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
      background: rgba(0,0,0,0.32);
    }
  }

  .contents {
    margin: auto;
    color: white;
    z-index: 100;

    transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1);

    @media screen and (max-width: $maxTablet) {
      font-size: 0.8em;
    }
    
    @media screen and (max-width: $maxMobile) {
      font-size: 0.6em;
    }
  }

  .image {
    width: auto;
    height: 100%;
  }
}

.big {
  font-size: 2em;
}

.navigation_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;

  .navigations {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  li {
    list-style: none;
    width: 5px;
    height: 5px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--backgroundColor);
    text-align: center;
  }
}

.group {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 2vh;

  .section_title {
    text-align: left;

    h2 {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -4px;

      span {
        margin-left: 28px;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: -1px;
        color: #999999;
      }
    }

    p {
      white-space: break-spaces;
      line-height: 36px;
      font-size: 1.5em;
      font-weight: 500;
    }
  }

  $link-color: #1667e0;
  .links {
    display: flex;
    gap: 20%;
    margin-bottom: 40px;

    .link {
      display: flex;
      font-weight: bold;
      font-size: 1.3em;
      letter-spacing: -1px;
      width: fit-content;

      @media screen and (max-width: $maxTablet) {
        font-size: 1.5em;

        svg {
          margin-left: 6px;
          width: 16px;
          height: 16px;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        transition: color 0.23s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
      @media screen and (max-width: $maxMobile) {
        font-size: 1.25em;
      }

      transition: color 0.23s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover, &:focus, &:active {
        color: $link-color;
        cursor: pointer;

        a {
          color: $link-color;
        }

        svg {
          stroke: $link-color;

          transform: scale(1.15);
        }
      }

      svg {
        margin: auto;
        margin-left: 10px;
        transition: stroke 0.23s cubic-bezier(0.19, 1, 0.22, 1), transform 0.23s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}

.cards_box {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media screen and (max-width: $maxTablet) {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  @media screen and (max-width: $maxMobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.descriptionCard {
  min-height: 200px;
}

.cards_box {
  display: grid;
  min-width: 675px;
}

.img_box {
  position: relative;
  width: 116px;
  height: 97px;
  aspect-ratio: 9 / 16;
}

.album {
  min-width: 331px;
  height: 400px;
  aspect-ratio: 9 / 16;
}