@import "../mixin.scss";

.main {
  width: 100%;
  height: 100%;
  margin: auto;

  header {
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 10000;

    & > div {
      margin: 38px auto;

      @media screen and (max-width: $maxTablet) {
        margin: 32px auto;
      }

      @media screen and (max-width: $maxMobile) {
        margin: 26px auto;
      }
    }
  }

  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signature {
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 40vw;
  height: 40vw;

  @media screen and (max-width: $maxTablet) {
    width: 40vmax;
    height: 40vmax;

    max-width: 80vw;
  }

  right: 0;
  bottom: 0;
  opacity: 0.16;
}

.pages {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  scroll-snap-type: y mandatory;
}

.page {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;

  scroll-snap-align: start;

  &.flex {
    display: flex;
  }

  &.mobileColumn {
    @media screen and (max-width: $maxTablet) {
      flex-direction: column;

      .card {
        .background {
          height: unset;
          position: absolute;
          aspect-ratio: 16 / 9;
          left: unset;
        }
      }
    }
  }
}

.representInner {
  padding: 60px 5%;
  box-sizing: border-box;
  justify-content: center;

  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes iconDown {
  0%, 100% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(3px);
  }
}

.scrollDown {
  width: fit-content;
  align-self: center;

  letter-spacing: -0.05em;
  font-weight: bold;

  font-size: 1.25em;
  display: flex;

  opacity: 0.3;

  cursor: pointer;

  transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1), 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  @media screen and (max-width: $maxTablet) {
    font-size: 1.05em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.9em;

    width: 100%;
    display: flex;
    right: unset;

    .icon {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  .inner {
    margin: auto;
    display: flex;
    gap: 12px;
  }

  .icon {
    position: relative;
    margin: auto;
    animation: iconDown 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  h1, p {
    margin: 0;
  }

  p:nth-child(2) {
    margin-bottom: 14px;
  }

  h1 {
    font-size: 6em;
    font-weight: bold;
    letter-spacing: -4px;
  }

  p {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -2px;
  }

  @media screen and (max-width: $maxTablet) {
    h1 {
      font-size: 4.5em;
      letter-spacing: -3px;
    }    

    p {
      font-size: 1.5em;
      font-weight: normal;
      letter-spacing: -2px;
    }
  }

  @media screen and (max-width: $maxMobile) {
    h1 {
      font-size: 2em;
      letter-spacing: -2.5px;
    }    

    p {
      font-size: 1.15em;
      font-weight: normal;
      letter-spacing: -1.5px;
    }
  }
}

.big {
  font-size: 2em;
}

.navigation_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;

  .navigations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10px;
    align-items: center;
  }

  .navigation {
    list-style: none;
    width: 8px;
    height: 8px;
    margin: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  .selected {
    width: 10px;
    height: 10px;
    background-color: #000;
  
    transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.group {
  max-width: 1440px;
  margin: 0 auto;

  .section_title {
    text-align: left;

    h2 {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -4px;

      span {
        margin-left: 28px;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: -1px;
        color: #999999;
      }
    }

    p {
      white-space: break-spaces;
      line-height: 36px;
      font-size: 1.5em;
      font-weight: 500;
    }

    @media screen and (max-width: $maxTablet) {
      h2 {
        font-size: 4.5em;
        letter-spacing: -3px;

        span {
          display: block;
        }
      }
  
      p {
        font-size: 1.5em;
        font-weight: normal;
        letter-spacing: -2px;
      }
    }
  
    @media screen and (max-width: $maxMobile) {
      h2 {
        font-size: 2em;
        letter-spacing: -2.5px;

        span {
          display: block;
        }
      }    
  
      p {
        font-size: 1.15em;
        font-weight: normal;
        letter-spacing: -1.5px;
      }
    }
  }

  $link-color: #1667e0;
  .links {
    display: flex;
    gap: 20%;
    margin-bottom: 40px;

    .link {
      display: flex;
      font-weight: bold;
      font-size: 1.3em;
      letter-spacing: -1px;
      width: fit-content;

      @media screen and (max-width: $maxTablet) {
        font-size: 1.5em;

        svg {
          margin-left: 6px;
          width: 16px;
          height: 16px;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        transition: color 0.23s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
      @media screen and (max-width: $maxMobile) {
        font-size: 1em;
      }

      transition: color 0.23s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover, &:focus, &:active {
        color: $link-color;
        cursor: pointer;

        a {
          color: $link-color;
        }

        svg {
          stroke: $link-color;

          transform: scale(1.15);
        }
      }

      svg {
        margin: auto;
        margin-left: 10px;
        transition: stroke 0.23s cubic-bezier(0.19, 1, 0.22, 1), transform 0.23s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}

.cards_box {
  display: grid;
  min-width: 595px;
  height: 60vh;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media screen and (max-width: $maxTablet) {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  @media screen and (max-width: $maxMobile) {
    min-width: 200px;
    grid-template-columns: repeat(1, auto);
  }
}


.firstSection_cards {
  .card {
    overflow: auto;
    display: flex;
    position: relative;
    min-height: 150px;
    background: #F5F5F5;
    border-radius: 20px;

    @media screen and (max-width: $maxMobile) {
      min-height: 60px;
    }

    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    .logo_img {
      width: 15vw;
      height: 15vw;
      max-width: 200px;
      max-height: 200px;
      margin: 0 auto;
      align-self: center;
    }
  }

  .card:nth-child(2) {
    max-height: 470px;
    height: 40vw;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 14;

    .logo_img {
      max-width: 200px;
      max-height: 200px;
      margin: 0 auto;
      align-self: center;
    }

    @media screen and (max-width: $maxMobile) {
      display: none;
    }
  }
  .card:nth-child(3) {
    max-width: 850px;
    height: 40vw;
    max-height: 694px;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 14;

    @media screen and (max-width: $maxMobile) {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 14;
    }
  }
}

.img_box {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 9/16;

  &.cursorPointer {
    cursor: pointer;
  }

  .image {
    transition: 3s all cubic-bezier(0.19, 1, 0.22, 1);

    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  img {
    height: 100%;
    min-width: 100%;
  }
}

.album {
  min-width: 202px;
  aspect-ratio: 9 / 16;
}