@import "../../mixin.scss";

.container {
  position: relative;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;

  .title {
    font-size: 3.5em;
    letter-spacing: -1px;
    margin-top: calc(80px + 10vh);
    margin-bottom: calc(40px + 5vh);

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $maxTablet) {
      font-size: 3em;
    }

    @media screen and (max-width: $maxMobile) {
      font-size: 2.5em;
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  margin-bottom: 32px;
  margin-left: 10px;
  overflow: auto;

  & > div {
    white-space: nowrap;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $maxTablet) {
    gap: 8px;
  }
}

.section {
  width: 90%;
  margin-bottom: 32px;

  @media screen and (min-width: $maxTablet) {
    min-width: $maxTablet;
    max-width: $maxPage;
  }

  @media screen and (max-width: $maxTablet) {
    max-width: unset;
    min-width: 90%;
    width: 90%;
  }

  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-size: 2em;

    @media screen and (max-width: $maxMobile) {
      font-size: 1.6em;
    }

    @media screen and (max-width: $maxTablet) {
      font-size: 1.6em;
    }

    
    letter-spacing: -1px;
    font-weight: normal;
  }

  &:last-child {
    margin-bottom: 10vh;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; 
  grid-column-gap: 32px;
  grid-row-gap: 32px; 

  @media screen and (min-width: $maxTablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $maxTablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $maxMobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.postList {
  display: flex;
  flex-direction: column;

  gap: 12px;

  @media screen and (max-width: $maxTablet) {
    gap: 4px;
  }
}

.bold {
  font-weight: bold;
}

.error {
  font-size: 1.25em;
}

.post {
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 6px 24px;
  border-radius: 16px;

  @media screen and (max-width: $maxTablet) {
    padding: 6px 12px;
  }

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: rgba(0,0,0,0.04);
  }
}

.postTitle {
  font-size: 1.15em;
  font-weight: bold;

  word-break: keep-all;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 5vw;

  @media screen and (max-width: $maxTablet) {
    font-size: 0.9em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.8em;
  }
}

.postDetails {
  font-size: 0.85em;
  gap: 1.7em;

  white-space: nowrap;

  @media screen and (max-width: $maxTablet) {
    font-size: 0.8em;
    gap: 1em;
  }

  .item {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;

    svg {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0.3em;
      stroke: none;
    }
  }

  @media screen and (max-width: $maxMobile) {
    .comments {
      display: none;
    }

    .likes {
      display: none;
    }

    font-size: 0.7em;
  }

  display: flex;
  margin-left: auto;
}

.pages {
  display: flex;
  margin-top: 36px;

  @media screen and (max-width: $maxTablet) {
    font-size: 0.95em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.9em;
  }
}

.noticeMember {
  position: relative;
  display: flex;
  background-color: var(--bg-color);
  color: var(--color);
  padding: 6px 12px;
  border-radius: 16px;
  gap: 12px;

  .profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--color);
  }

  .name {
    margin: auto;
    font-weight: bold;
    font-size: 1em;
  }

  @media screen and (max-width: $maxTablet) {
    padding: 4px 8px;
    gap: 8px;

    .profile {
      width: 26px;
      height: 26px;
    }

    .name {
      font-size: 0.9em;
    }
  }
}