.isedol_main__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 800px;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.inner_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}