@import '../../mixin.scss';

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;

  display: flex;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  background: rgba(255, 255, 255, 0.8);
  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1), 0.23s visibility cubic-bezier(0.19, 1, 0.22, 1);

  &.open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: 0.4s opacity cubic-bezier(0.19, 1, 0.22, 1), 0.4s visibility cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.contents {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $maxTablet) {
    min-width: $maxTablet;
    max-width: $maxPage;
  }

  @media screen and (max-width: $maxTablet) {
    max-width: unset;
    min-width: 90%;
    width: 90%;
  }

  @media screen and (max-width: $maxMobile) {
    min-width: 85%;
    width: 85%;
  }

  margin: auto;
}

$link-color: #1667e0;
$link-current: #0b397e;

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: auto auto auto 0;

  @media screen and (max-width: $maxMobile) {
    margin: auto;
  }
}

.link {
  display: flex;
  gap: 10px;

  h1 {
    font-size: 5vmin;
    margin: 0;
    letter-spacing: -1px;

    @media screen and (max-width: $maxTablet) {
      font-size: 6vmin;
      letter-spacing: -1px;
    }

    @media screen and (max-width: $maxMobile) {
      font-size: 2rem;
      letter-spacing: -0.3px;
    }
  }

  @media screen and (max-width: $maxMobile) {
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  svg {
    margin-top: auto;
    margin-bottom: auto;
    transition: stroke 0.23s cubic-bezier(0.19, 1, 0.22, 1),
      transform 0.23s cubic-bezier(0.19, 1, 0.22, 1);

    width: 4vmin;
    height: 4vmin;
    margin-left: 24px;

    @media screen and (max-width: $maxTablet) {
      width: 4.5vmin;
      height: 4.5vmin;
      margin-left: 8px;
    }

    @media screen and (max-width: $maxMobile) {
      width: 1.5em;
      height: 1.5em;
      margin-left: unset;
    }
  }

  transition: color 0.23s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus,
  &:active {
    color: $link-color;
    cursor: pointer;

    svg {
      stroke: $link-color;

      transform: scale(1.15);
    }
  }

  &.current {
    color: $link-current;
    cursor: default;
  }
}

.attribution {
  position: relative;
  margin-left: unset;
  margin-right: auto;
  opacity: 0.3;
  margin-bottom: 16px;

  p {
    margin: 0;
    font-size: 0.85em;
  }

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  @media screen and (max-width: $maxTablet) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.logo {
  position: relative;
  margin-left: auto;
  opacity: 0.3;
  cursor: pointer;

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  &:hover, &:focus {
    opacity: 0.6;
  }

  @media screen and (max-width: $maxTablet) {
    margin-left: unset;
  }
}
