@import "../../mixin.scss";

.container {
  position: relative;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;

  margin-top: calc(80px + 20vh);

  @media screen and (max-width: $maxTablet) {
    margin-top: calc(80px + 10vh);
  }

  .title {
    font-size: 2.25em;
    letter-spacing: -1.5px;

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;

    @media screen and (max-width: $maxTablet) {
      font-size: 2em;
    }

    @media screen and (max-width: $maxMobile) {
      font-size: 1.75em;
    }
  } 

  .image {
    margin-left: auto;
    margin-right: auto;

    position: relative;

    border-radius: 16px;

    img {
      border-radius: 16px;
    }

    width: 300px;
    height: 300px;
  }
}

.section {
  width: 90%;
  margin-bottom: 4em;

  @media screen and (min-width: $maxTablet) {
    min-width: $maxTablet;
    max-width: $maxPage;
  }

  @media screen and (max-width: $maxTablet) {
    max-width: unset;
    min-width: 90%;
    width: 90%;
  }

  @media screen and (max-width: $maxMobile) {
    min-width: 85%;
    width: 85%;
  }

  div {
    margin: 0;
  }

  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-size: 1.8em;

    @media screen and (max-width: $maxMobile) {
      font-size: 1.6em;
    }

    @media screen and (max-width: $maxTablet) {
      font-size: 1.4em;
    }

    letter-spacing: -1px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.8em;
  }

  &:last-child {
    margin-bottom: 10vh;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; 
  grid-column-gap: 32px;
  grid-row-gap: 32px; 

  @media screen and (min-width: $maxTablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $maxTablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $maxMobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid_links {
  display: grid;
  grid-template-rows: 1fr; 
  grid-column-gap: 16px;
  grid-row-gap: 16px; 
  grid-template-columns: repeat(6, 1fr);

  p {
    width: fit-content;
  }

  @media screen and (max-width: $maxTablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $maxMobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.description {
  font-weight: 300;

  font-size: 1.15em;
  letter-spacing: -0.3px;
  line-height: 1.35;

  white-space: pre-line;

  @media screen and (max-width: $maxTablet) {
    font-size: 1.05em;
    line-height: 1.45;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.95em;
    line-height: 1.55;
  }

  p {
    margin: 0;
  }
}

$link-color: #1667e0;

.brief {
  display: flex;

  .image {
    margin-right: 3em;
    background: #eee;
  }

  @media screen and (max-width: $maxTablet) {
    flex-direction: column;

    .image {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3em;
    }
  }

  .right_wrap {
    flex: 7;
  }
}

.brief_links {
  margin-top: 2em;

  font-size: 1.25em;
  font-weight: bold;

  .link {
    cursor: pointer;
    letter-spacing: -1px;
    margin: 0;
    text-decoration: none;
    color: #000;

    transition: 0.23s color cubic-bezier(0.19, 1, 0.22, 1);

    svg {
      transition: 0.23s stroke cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
      color: $link-color;

      svg {
        stroke: $link-color;
      }
    }

    span {
      margin-right: 8px;
    }
  }
}
