.isedol_main__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 800px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 16 / 9;

  img {
    height: 100%;
    min-width: 100%;
  }

  background: #0A0A0B;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.32);
    left: 0;
    top: 0;
  }
}

.isedol_members__container {
  position: relative;
  width: 100vw;
  height: 100vh;

  .inner_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.inner_container {
  transition: background-color 500ms linear;
}

.members_contents {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  width: 1165px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.member_card_box {
  position: relative;
  width: 175px;
  height: 480px;
  margin: 0 11px;
}