.isedol_main__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 800px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 16 / 9;

  img {
    height: 100%;
    min-width: 100%;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.32);
    left: 0;
    top: 0;
  }
}

.page {
  z-index: 100;

  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.23s all cubic-bezier(0.19, 1, 0.22, 1);

  &[data-current='true'] {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  font-family: Pretendard Variable, Pretendard, Inter, Noto Sans CJK KR,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.isedol_main__title {
  height: fit-content;
  margin: 334px 0 15px;
  margin-bottom: 15px;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 100%;

  span {
    display: inline-block;
    margin: 0 14px;
  }
}

.isedol_main__subtitle_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 228px;

  .subtitle {
    margin-bottom: 32px;
    font-style: 700;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.7px;
    color: #999999;
  }

  .play_btn {
    position: relative;
    width: 41px;
    height: 41px;
    align-self: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 58px;
    background: none;
    cursor: pointer;
  }

  .play_btn::after {
    position: absolute;
    content: '';
    top: 12px;
    left: 14px;
    width: 16px;
    height: 16px;
    background: url('../../../public/images/ico_play.png') no-repeat;
  }
}

.page_indicator {
  z-index: 100;
  margin-top: auto;
  margin-bottom: 15%;

  button {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.32);
  }

  button[data-current='true'] {
    background: #ffffff;
  }

  button:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .isedol_main__title {
    margin-top: 308px;
  }

  .isedol_main__subtitle_box {
    margin-bottom: 188px;
  }

  .page_indicator {
    margin-bottom: 154px;
  }
}