@import '../../mixin.scss';

.isedol_main__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preload {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 16 / 9;

  img {
    height: 100%;
    min-width: 100%;
  }

  background: #0a0a0b;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.isedol_members__container {
  position: relative;
  width: 100vw;
  height: 100vh;

  .inner_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-x: auto;
    overflow-y: hidden;

    &.active {
      overflow-x: hidden;
      overflow-y: auto;
    }

    @media screen and (max-width: $maxMobile) {
      scroll-snap-type: x mandatory;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.inner_container {
  transition: background-color 360ms cubic-bezier(0.19, 1, 0.22, 1) 16ms;

  background-color: #0a0a0b;

  &[data-member] {
    .member {
      filter: saturate(50%);

      &[data-active="true"] {
        filter: saturate(100%);
      }
    }
  }

  &[data-member='ine'] {
    background-color: #210c28;
  }

  &[data-member='jingburger'] {
    background-color: #1a1506;
  }

  &[data-member='lilpa'] {
    background-color: #0e0a24;
  }

  &[data-member='jururu'] {
    background-color: #1b0a1c;
  }

  &[data-member='gosegu'] {
    background-color: #05171d;
  }

  &[data-member='viichan'] {
    background-color: #081607;
  }
}

.logo_container {
  display: flex;
  position: relative;
}

.logo {
  position: absolute;
  bottom: 7vh;
  right: 7vw;
  opacity: 0.3;
  cursor: pointer;

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  @media screen and (max-width: $maxTablet) {
    bottom: 3vh;
    right: 5vw;
    transform: scale(0.8);
  }

  @media screen and (max-width: $maxMobile) {
    transform: scale(0.7);
  }

  &:hover, &:focus {
    opacity: 0.6;
  }
}

.members_list {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
  position: relative;

  &[data-member] {
    .sign_box {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s cubic-bezier(0.19, 1, 0.22, 1);
    }

    cursor: default;
  }

  &[data-member='ine'] .member[data-member='ine'] {
    @media screen and (max-width: $maxMobile) {
      transform: translateX(2%);
    }

    transform: translateX(0%);
  }

  &[data-member='jingburger'] .member[data-member='jingburger'] {
    @media screen and (max-width: $maxTablet) {
      transform: translateX(-113%);
    }

    @media screen and (max-width: $maxMobile) {
      transform: translateX(-115%);
    }

    transform: translateX(-111%);
  }

  &[data-member='lilpa'] .member[data-member='lilpa'] {
    @media screen and (max-width: $maxTablet) {
      transform: translateX(-225%);
    }

    @media screen and (max-width: $maxMobile) {
      transform: translateX(-228%);
    }

    transform: translateX(-222%);
  }

  &[data-member='jururu'] .member[data-member='jururu'] {
    @media screen and (max-width: $maxTablet) {
      transform: translateX(-340%);
    }

    @media screen and (max-width: $maxMobile) {
      transform: translateX(-342%);
    }

    transform: translateX(-333%);
  }

  &[data-member='gosegu'] .member[data-member='gosegu'] {
    @media screen and (max-width: $maxTablet) {
      transform: translateX(-455%);
    }

    transform: translateX(-444%);
  }

  &[data-member='viichan'] .member[data-member='viichan'] {
    @media screen and (max-width: $maxTablet) {
      transform: translateX(-570%);
    }

    transform: translateX(-553%);
  }
}

// .member_wrapper {
//   position: relative;
// }

.member {
  position: relative;
  min-width: 200px;
  max-width: 500px;
  width: 10vw;
  margin: 0 12px;
  cursor: pointer;
  z-index: 10;
  isolation: isolate;

  .background, .member_image_wrapper {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  .background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    isolation: isolate;
  }

  .member_image_wrapper {
    aspect-ratio: 9 / 16;
  }

  .member_image {
    position: absolute;
    z-index: 10;
  }

  aspect-ratio: 6 / 16;

  @media screen and (max-width: $maxTablet) {
    width: unset;
    height: 70vh;

    .sign_box {
      display: none;
    }
  }

  @media screen and (max-width: $maxTablet) {
    width: 70vw;
    max-height: calc(80vh - 100px);
    margin: 0 5vw;

    &:first-child {
      margin-left: 15vw;
    }

    &:last-child {
      margin-right: 15vw;
    }
  }

  &:hover {
    transform: scale(1.05);

    .sign_box {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    pointer-events: none;
    border-radius: 16px;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
  }

  &[data-active='true'] {
    &::after {
      opacity: 0;
      visibility: hidden;
    }
  }

  transition: transform 0.4s cubic-bezier(.22,.61,.36,1), opacity 0.3s cubic-bezier(.65,.05,.36,1), visibility 0.3s cubic-bezier(.65,.05,.36,1), filter 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  visibility: visible;

  &.disappear {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715), opacity 0.23s cubic-bezier(0.785, 0.135, 0.15, 0.86), visibility 0.23s cubic-bezier(.73,-0.55,.2,1.51);

    transform: rotateZ(-5deg) translateY(10px) scale(0.9);
  }
}

.sign_box {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.64s all cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;

  transform: rotateX(15deg);

  .arrow_wrapper, .sign_name, .sign_wrapper {
    position: absolute;
  }

  .sign_name {
    width: fit-content;
    color: #ffffff;
    font-size: 48px;
  }

  .sign_wrapper {
    min-width: 250px;
    min-height: 150px;

    aspect-ratio: 1 / 0.9;
    opacity: 0.16;
  }

  &[data-member='ine'] {
    .arrow_wrapper {
      top: 105%;
      left: 38px;
      width: 27.7px;
      height: 57.8px;
    }

    .sign_name {
      top: calc(105% - 9px);
      left: 80px;
      width: 76px;
      height: 32px;
    }

    .sign_wrapper {
      top: calc(100%);
      left: 118px;
    }
  }

  &[data-member='jingburger'] {
    .arrow_wrapper {
      top: -50px;
      left: 38px;
      width: 55.1px;
      height: 35.8px;
      transform: scaleX(-1);
    }

    .sign_name {
      top: -114px;
      left: 105px;
      width: 70px;
      height: 32px;
    }

    .sign_wrapper {
      top: -250px;
      left: 143px;
      transform: rotate(-7.1deg);
    }
  }

  &[data-member='lilpa'] {
    .arrow_wrapper {
      top: 103%;
      left: 68px;
      width: 39.8px;
      height: 46.7px;
    }

    .sign_name {
      top: calc(103% - 17px);
      left: 120px;
      width: 50px;
      height: 32px;
    }

    .sign_wrapper {
      top: 103%;
      left: 114px;
      transform: rotate(-13.2deg);
    }
  }

  &[data-member='jururu'] {
    .arrow_wrapper {
      top: -54px;
      left: 36px;
      width: 55.1px;
      height: 35.8px;
    }

    .sign_name {
      top: -116px;
      left: -35px;
      width: 60px;
      height: 30px;
    }

    .sign_wrapper {
      top: -230px;
      left: -30px;
      transform: rotate(5.01deg);
    }
  }

  &[data-member='gosegu'] {
    .arrow_wrapper {
      top: 104%;
      left: 68px;
      width: 39.8px;
      height: 46.7px;
      transform: scaleX(-1);
    }

    .sign_name {
      top: calc(104% - 18px);
      left: 0px;
      width: 63px;
      height: 32px;      
    }

    .sign_wrapper {
      top: 104%;
      left: -200px;
      transform: rotate(10deg);
    }
  }

  &[data-member='viichan'] {
    .arrow_wrapper {
      top: -64px;
      left: 36px;
      width: 55.1px;
      height: 35.8px;
    }

    .sign_name {
      top: -127px;
      left: -24px;
      width: 50px;
      height: 32px;
    }

    .sign_wrapper {
      top: -235px;
      left: -141px;
      transform: rotate(5.31deg);
    }
  }
}

// 멤버별 페이지 스타일
.chosen {
  .disapear {
    transition: width 0s ease-in-out, min-width 0s ease-in-out, transform 0s ease-in-out;
    &[data-member='ine'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
    &[data-member='jingburger'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
    &[data-member='lilpa'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
    &[data-member='jururu'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
    &[data-member='gosegu'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
    &[data-member='viichan'] {
      width: 0px !important;
      min-width: 0px !important;
      max-width: 0px !important;
    }
  }
}

.member_detail {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;

  top: var(--top);
  left: calc(var(--left) + var(--width));
  width: calc(100% - var(--left) * 1.5 - var(--width) * 1.5);
  height: calc(var(--height));
  margin-left: 2em;

  min-width: 700px;

  transition: 0.5s opacity cubic-bezier(0.19, 1, 0.22, 1), 0.5s visibility cubic-bezier(0.19, 1, 0.22, 1);

  @media screen and (max-width: $maxTablet) {
    top: 90%;
    width: calc(100% - calc((100% - var(--width)) / 1.5));
    max-width: 95%;
    min-height: 90vh;
    left: calc((100% - var(--width)) / 3);
    min-width: unset;
    margin-left: unset;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    color: white;

    flex-direction: column;
  }
}

.profile_name {
  display: flex;
  font-size: 1.4em;

  @media screen and (max-width: $maxTablet) {
    font-size: 1.2em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 1em;
  }

  h1 {
    letter-spacing: -2px;
    margin: 0;
  }

  margin-bottom: 1em;

  .sub {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    font-size: 1em;

    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.3;
  }
}

.profile_detail {
  font-size: 1.2em;
  position: relative;
  width: 100%;

  @media screen and (max-width: $maxTablet) {
    font-size: 1.15em;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.9em;
  }

  table {
    border-spacing: 0px 12px;
    width: 300px;

    @media screen and (max-width: $maxTablet) {
      width: 100%;
    }
  }

  td:first-child {
    font-weight: bold;
  }

  td:last-child {
    text-align: right;
  }
}

.profile_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile_sign_wrapper {
  position: absolute;
  opacity: 0.08;

  aspect-ratio: 1 / 1;
  pointer-events: none;
  user-select: none;
  height: 400px;
  bottom: -100px;

  @media screen and (max-width: $maxTablet) {
    top: 0;
    left: 20%;
    width: 80%;
    height: unset;
    bottom: unset;
  }

}

.model_viewer {
  position: absolute;
  right: 0;
  height: 80%;

  width: 360px;

  @media screen and (max-width: $maxTablet) {
    position: relative;

    display: flex;
    width: 100%;

    & > div {
      margin: auto;
    }

    margin-top: 100px;
    margin-bottom: 200px;
  }
}

.social_links {
  display: flex;
  gap: 32px;
  margin-top: 16px;

  .icon {
    filter: invert(1);
    transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}