@import '../mixin.scss';

.header {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  height: 110px;
  margin: 0px auto !important;
  align-items: center;

  &.fixed {
    position: fixed;
  }

  width: 90%;

  @media screen and (min-width: $maxTablet) {
    min-width: $maxTablet;
    max-width: $maxPage;
  }

  &.full {
    min-width: 252px;
    max-width: unset;
  }

  @media screen and (max-width: $maxTablet) {
    margin: 32px auto;
    max-width: unset;
    width: 95%;
  }

  @media screen and (max-width: $maxMobile) {
    margin: 28px auto;
  }
}

.left {
  display: flex;
}

.right {
  display: flex;
}
