@import '../../mixin.scss';

.section {
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
}

.section[data-index='0'] {
  .inner {
    min-height: 460vh;
  }
}

.video_contents {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;

  .video_contents_inner {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .video_cover {
      position: relative;
      width: 100%;
      height: 100%;

      z-index: 2;
    }

    .masked {
      z-index: 1;
      overflow: hidden;
      .inline_video_container {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about_desc {
  position: sticky;
  justify-content: space-between;
  top: 400vh;
  opacity: 0;
  background: #ffffff;

  .about_desc_inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    min-height: 200vh;
    align-self: center;

    .about_image {
      position: relative;
      max-width: 633px;
      height: 356px;
      margin-right: 80px;
      margin-left: 1vw;
      align-self: center;
      aspect-ratio: 16 / 9;
      opacity: var(--image-opacity, 1);

      transform: translateX(calc(-300px * (1 - var(--image-opacity))));

      img {
        height: 100%;
        min-width: 100%;
      }
    }

    .about_text {
      align-self: center;

      .title {
        margin-bottom: 20px;
        font-size: 3.5em;
        letter-spacing: -1px;
      }

      .subtitle {
        max-width: 567px;
        align-self: center;

        font-weight: 300;
        font-size: 1.18em;
        letter-spacing: -0.3px;
        line-height: 1.35;
        word-break: keep-all;
      }
    }
  }

  @media screen and (max-width: $maxTablet) {
    min-height: 148vh;

    .about_desc_inner {
      flex-direction: column;
      min-width: 0px;
      height: 100%;
      margin-top: 150px;

      .about_image {
        align-items: center;
        margin-bottom: 20px;
      }

      .about_text {
        align-self: flex-end;
        margin-right: 2vw;

        .title {
          font-size: 3em;
        }

        .subtitle {
          width: fit-content;
          font-size: 1.1em;
          line-height: 1.45;
        }
      }
    }
  }

  @media screen and (max-width: $maxMobile) {
    min-height: 148vh;

    .about_desc_inner {
      flex-direction: column;
      height: 100%;

      .first_section__img {
        max-width: none;
        width: 100%;
        height: auto;
        margin-left: none;
        margin: 0 auto;
        margin-bottom: 28px;
      }

      .first_section__introduce {
        min-width: 200px;
        max-width: 400px;
        margin-left: 20px;

        .introduce_title {
          font-size: 1.5em;
        }

        .introduce_subtitle {
          font-size: 0.8em;
          line-height: 1.55;
        }
      }
    }
  }
}
