@import '../../mixin.scss';

.section {
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
}

.section[data-index='0'] {
  .inner {
    min-height: 460vh;
  }
}

.section[data-index='1'] {
  .inner {
    min-height: 500vh;
  }
}

.section[data-index='2'] {
  .inner {
    min-height: 500vh;
  }
}

.section[data-index='3'] {
  .inner {
    min-height: 500vh;
  }
}

