@import '../../mixin.scss';

$default-background-color: #121415;
$default-color: #bad9e9;
$default-overlay-color: #1b1f21;

.page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;

  background-color: $default-background-color;
  z-index: 100000;

  color: #fff;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.innerPage {
  @media screen and (max-width: $maxTablet) {
    overflow-y: auto;
    height: 100%;
  }

  & > .contents {
    position: relative;

    display: flex;
    gap: 40px;

    margin-left: auto;
    margin-right: auto;

    width: 75vw;
    max-width: #{$maxTablet * 2};

    @media screen and (max-width: $maxTablet) {
      margin-top: 5vh;
      width: 90%;
      flex-direction: column;

      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.goBack {
  position: absolute;
  width: 10vw;
  height: 100%;
  left: 0;
  top: 0;

  @media screen and (max-width: $maxTablet) {
    position: relative;
    width: 100%;
    height: 15vh;
  }

  display: flex;

  cursor: pointer;

  transform: translateX(0px);

  transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

    background: rgba(48, 48, 48, 0.06);

    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0.5;
    }

    transform: translateX(-10px);
  }

  svg {
    fill: $default-color;
    stroke: $default-color;

    width: 2em;
    height: 2em;

    margin: auto;

    @media screen and (max-width: $maxTablet) {
      width: 1.25em;
      height: 1.25em;

      margin: auto auto auto 5%;
    }
  }
}

.unitBrief {
  position: relative;

  min-width: 450px;
  font-size: 24px;
  margin: auto;

  color: $default-color;

  .title,
  .description {
    margin: 0;
  }

  .title {
    font-size: 1.75em;
    font-weight: 900;
    letter-spacing: -2px;

    margin-bottom: 8px;
  }

  .description {
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: -1px;

    opacity: 0.5;
  }

  .members {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    margin-top: 2em;

    max-width: 80%;
  }

  @media screen and (max-width: $maxTablet) {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;

    .title {
      font-size: 1.5em;
    }

    .description {
      font-size: 0.55em;
      letter-spacing: -1px;
    }
  }

  @media screen and (max-width: $maxMobile) {
    .title {
      font-size: 1.25em;
    }

    .description {
      font-size: 0.5em;
      letter-spacing: -0.5px;
    }
  }

  @media screen and (min-width: $maxTablet) and (max-width: #{$maxTablet * 1.25}) {
    min-width: 350px;
    width: 350px;
  }
}

.unitContents {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 50vw;

  color: $default-color;

  overflow-x: hidden;
  overflow-y: auto;

  & > * {
    margin-top: 15vh;

    @media screen and (max-width: $maxTablet) {
      margin-top: unset;
    }
  }

  @media screen and (max-width: $maxTablet) {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;

    overflow-y: unset;
    height: unset;
  }
}

.memberButton {
  position: relative;

  display: flex;

  user-select: none;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);

  background-color: $default-overlay-color;
  cursor: pointer;

  &[data-active='true'] {
    background-color: lighten($default-overlay-color, 10);
  }

  border-radius: 16px;

  .memberImage {
    position: relative;
    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: lighten($default-overlay-color, 5);
  }

  .memberName {
    font-weight: bold;
    font-size: 0.6em;
    letter-spacing: -1px;

    margin-left: 0.7em;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (max-width: $maxTablet) {
      font-size: 0.55em;
      letter-spacing: -1px;
    }

    @media screen and (max-width: $maxMobile) {
      font-size: 0.5em;
      letter-spacing: -0.5px;
    }
  }

  padding: 8px 12px;
}

.grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media screen and (max-width: $maxTablet) {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  @media screen and (max-width: $maxMobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  padding-bottom: 10vh;
}

.card {
  position: relative;
  overflow: hidden;

  min-width: 100px;

  border-radius: 16px;

  grid-column-start: var(--cs, auto);
  grid-column-end: var(--ce, auto);
  grid-row-start: var(--rs, auto);
  grid-row-end: var(--re, auto);

  @media screen and (max-width: $maxMobile) {
    grid-column-start: var(--csm, var(--cs, auto));
    grid-column-end: var(--cem, var(--cs, auto));
    grid-row-start: var(--rsm, var(--cs, auto));
    grid-row-end: var(--rem, var(--cs, auto));

    min-height: 100px;
  }

  &.padding {
    padding: 26px 32px;

    @media screen and (max-width: $maxTablet) {
      padding: 13px 16px;
    }
  }

  user-select: none;

  &.normalSize {
    min-width: 80%;
  }

  &.flex {
    display: flex;
  }

  &.flexColumn {
    flex-direction: column;
  }

  &.thumbnail {
    aspect-ratio: 16 / 9;
  }

  & > .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  & > .centerColumn {
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
}

.memberMeta {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    margin-bottom: 0.15em;
    letter-spacing: -3px;
  }

  p {
    margin: auto;
    max-width: 80%;
    letter-spacing: -1px;
    line-height: 1.25;
  }

  @media screen and (max-width: $maxMobile) {
    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.8em;
      letter-spacing: -0.5px;
    }
  }
}

.descriptionCard {
  min-height: 200px;
}

.cardMemberImage {
  border-radius: 16px;
  aspect-ratio: 9 / 16;
}

.center  {
  margin: auto;
}