@import "../../mixin.scss";

.sidebar_btn {
  align-self: center;
  margin-right: 2vw;
}

.menu {
  display: flex;
  width: fit-content;
  gap: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #000;

    &:hover {
      font-size: 1.2em;
      font-weight: 700;

      transition:0.2s all cubic-bezier(0.6, 0, 0.735, 0.045);
    }
  }

  &.white {
    a {
      color: #fff;
    }
  }

  @media screen and (max-width: $maxMobile) {
    gap: 5px;

    a {
      font-size: 1vmin;
    }
  }
}