@import "../../mixin.scss";

.container {
  position: relative;
}

.contents_header {
  position: fixed;
  z-index: 9999;
  width: calc(100vw - 10px);
  max-width: 100%;
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.982) 50.1%, rgba(255, 255, 255, 0.954) 62.8%, rgba(255, 255, 255, 0.916) 70.3%, rgba(255, 255, 255, 0.869) 78%, rgba(255, 255, 255, 0.814) 85.1%, rgba(255, 255, 255, 0.752) 88%, rgba(255, 255, 255, 0.683) 90.8%, rgba(255, 255, 255, 0.608) 92.8%, rgba(255, 255, 255, 0.529) 94.4%, rgba(255, 255, 255, 0.446) 96.9%, rgba(255, 255, 255, 0.36) 98.4%, rgba(255, 255, 255, 0.271) 99.3%, rgba(255, 255, 255, 0.181) 99.8%, rgba(255, 255, 255, 0.09) 99.9%, rgba(255, 255, 255, 0) 100%);
}

.inner_container {
  position: relative;
  display: flex;
}

.contents_wrapper {
  position: sticky;
  overflow: auto;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  padding-top: 200px;

  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  @media screen and (max-width: $maxMobile) {
    padding-top: 98px;
  }
}

.contents_wrapper::-webkit-scrollbar {
  width: 10px;
  background: none;
}

.contents_wrapper::-webkit-scrollbar-thumb {
  background: rgb(53, 51, 51);
  border-radius: 20px;
}

.filter_box {
  z-index: 9999;
  display: flex;
  justify-content: center;
  grid-gap: 40px;
  gap: 40px;
  min-width: 20px;
  align-self: center;

  @media screen and (max-width: $maxTablet) {
    padding: 0 20px;
  }
}

.contents {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr; 
  grid-column-gap: 32px;
  grid-row-gap: 32px; 

  max-width: 1800px;
  padding: 0 40px;
  align-self: center;


  @media screen and (max-width: 2000px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: 1800px) {
    max-width: 1544px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: $maxTablet) {
    max-width: 948px;
    padding: 0 20px;
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 780px) {
    max-width: 500px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.emptyCards {
  width: 100%;
  margin-top: 32px;
}