@import "../../mixin.scss";

.goods_container {
  position: relative;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

.banner_box {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;

  padding: 8px 0;
  background: #000;
  
  .tabs {
    display: flex;
    justify-content: space-between;
    
    min-width: 675px;
    height: 34px;

    align-items: center;

    .tab {
      margin: 0 3vw;
      color: #fff;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $maxMobile) {
    .tabs {
      height: 20px;
    }
    &::-webkit-scrollbar {
      height: 4px;
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(53, 51, 51);
      border-radius: 20px;
    }
  }
}

.button {
  display: block;
  width: max-content;
  padding: 8px 16px;
  border-radius: 8px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #807e7e;
  }

  &:active {
    background-color: #7a7878;
  }

  &.active, &[data-active="true"] {
    background-color: #D0F3E2;
    color: #108B2B;

    cursor: unset;
  }

  @media screen and (max-width: $maxTablet) {
    font-size: 0.95em;
    padding: 6px 14px;
  }

  @media screen and (max-width: $maxMobile) {
    font-size: 0.9em;
  }
}

.banners {
  position: relative;
  display: flex;
  width: calc(100% * var(--width));

  transform: translateX(var(--location));
  transition: 1s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .bannerImage {
    position: relative;
    aspect-ratio: 9/3;
  }

  .title_box {
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 10%;

    &.background {
      padding: 10px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.8);
      top: 60%;
      p {
        color: #333 !important;
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      color: #fff;

      span {
        font-size: 28px;
      }
    }

  }

  @media screen and (max-width: $maxTablet) {
    font-size: 0.95em;
    .title_box {
      &.background {
        padding: 8px !important;
      }
    }

  }

  @media screen and (max-width: $maxMobile) {
    .title_box {
      top: 30%;
      left: 5%;
      p {
        font-size: 12px;
        font-weight: 600;

        span {
          font-size: 18px;
        }
      }

      .title_box {
        &.background {
          padding: 4px !important;
        }
      }
    }
  }
}

.slideBtns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 48%;
  transform: translateY(-50%);

  width: 100%;
  padding: 0 10px;
  
  .slideBtn {
    position: relative;
    width: 40px;
    height: 40px;
    
    border-radius: 20%;

    background: rgba(255, 255, 255, 0.8);
    
    cursor: pointer;
  }

  .prev_button {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 14px;

      width: 40%;
      height: 40%;
      border-top: 2px solid #333;
      border-right: 2px solid #333;

      transform: rotate(225deg);
    }
  }

  .next_button {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 8px;

      width: 40%;
      height: 40%;
      border-top: 2px solid #333;
      border-right: 2px solid #333;

      transform: rotate(45deg);
    }
  }

  @media screen and (max-width: $maxTablet) {   
    .slideBtn{
      width: 34px;
      height: 34px;
    }

    .prev_button {
      &::before {
        top: 10px;
        left: 12px;
      }
    }

    .next_button {
      &::before {
        top: 10px;
        left: 6px;
      }
    }
  }

  @media screen and (max-width: $maxMobile) {
    .slideBtn {
      width: 24px;
      height: 24px;
    }

    .prev_button {
      &::before {
        top: 8px;
        left: 8px;
      }
    }

    .next_button {
      &::before {
        top: 6px;
        left: 4px;
      }
    }
  }
}
