@import '../../assets/styles/mixin.scss';

.home_container {
    overflow-y: auto;
    width: 100%;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
    section {
        height: 100%;
    }
    .section_inner_container {
        width: 100%;
        height: 100%;
    }
}


.first_section_inner {
    position: relative;
    height: calc(100% - 158px);
    background: url('../images/bg_home_first_section.jpg') no-repeat top 50% left 50%;
    background-size: cover;
}

.background_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
}

.title_wrapper {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #000;
    font-family: 'pretendartdMedium';
    
    .main_title {
        margin-bottom: 60px;
        font-size: 36px;
    }
}

.down_scroll_title {
    animation: titleDisapear 1s ease-out;
}

.down_scroll_subtitle {
    animation: subTitleDisapear 1s ease-out normal 0.1s;
}

.subtitle_box {
    width: 100%;
    height: 80px;
    
    .subtitle_wrapper {
        overflow: hidden;
        position: relative;
        height: 100%;

        li {
            display: block;
            padding-bottom: 6px;
            -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
        }
    }
}

@keyframes titleDisapear {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    10% {
        display: none;
    }
    100% {
        display: none;
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes subTitleDisapear {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    10% {
        display: none;
    }
    100% {
        display: none;
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes scroll {
    0.0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    12.5% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    25.0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px)
    }
    37.5% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px)
    }
    50% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px)
    }
    62.5% {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px)
    }
    75% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px)
    }
    87.5% {
        -webkit-transform: translateY(-240px);
        transform: translateY(-240px)
    }
    100.0% {
        -webkit-transform: translateY(-320px);
        transform: translateY(-320px)
    }
    100.0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}