$maxWeb: 1920px;
$maxTablet: 1024px;
$maxMobile: 575px;

@mixin componentContainer {
    display: flex;
    flex-direction: column;
    max-width: $maxWeb;
    text-align: center;
    align-items: center;
}
