@import 'mixin.scss';

#App {
  position: relative;
  background: black;
}

.app_contents {
  display: flex;
  flex-direction: column;
}

.contents {
  @include componentContainer;
}

#app-footer {
  height: 158px;
}