@import 'mixin.scss';

.home_container {
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    color: white;

    &::-webkit-scrollbar {
        display: none;
    }
    section {
        height: 100%;
    }
    .section_inner_container {
        width: 100%;
        height: 100%;
    }
}

.first_section_inner {
    position: relative;
    height: calc(100% - 158px);
    background: url('../public/images/bg_home_first_section.jpg') no-repeat top 50% left 50%;
    background-size: cover;
}

.background_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
}

.title_wrapper {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #000;
    font-family: 'pretendartdMedium';
    
    .main_title {
        margin-bottom: 32px;
        font-size: 36px;
    }
}

.down_scroll_title {
    animation: titleDisapear 1s ease-out;
}

.down_scroll_subtitle {
    animation: subTitleDisapear 1s ease-out normal 0.1s;
}

.subtitle_box {
    width: 100%;
    height: 60px;
    
    .subtitle_wrapper {
        overflow: hidden;
        position: relative;
        height: 100%;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 18px;
            -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;

            .subtitle_first_line {
                margin-bottom: 8px;
            }
        }
    }
}

@keyframes titleDisapear {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    10% {
        display: none;
    }
    100% {
        display: none;
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes subTitleDisapear {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    10% {
        display: none;
    }
    100% {
        display: none;
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes scroll {
    0.0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    12.5% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    25.0% {
        -webkit-transform: translateY(-78px);
        transform: translateY(-78px)
    }
    37.5% {
        -webkit-transform: translateY(-78px);
        transform: translateY(-78px)
    }
    50% {
        -webkit-transform: translateY(-156px);
        transform: translateY(-156px)
    }
    62.5% {
        -webkit-transform: translateY(-156px);
        transform: translateY(-156px)
    }
    75% {
        -webkit-transform: translateY(-234px);
        transform: translateY(-234px)
    }
    87.5% {
        -webkit-transform: translateY(-234px);
        transform: translateY(-234px)
    }
    100.0% {
        -webkit-transform: translateY(-312px);
        transform: translateY(-312px)
    }
    100.0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

.second_section {
    .section_inner_container {
        position: relative;
        display: flex;
        min-width: 1024px;
        max-width: 1920px;
        height: calc(100% - 158px);
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .second_section_title {
        min-width: 300px;
        height: 300px;
        margin: 0 20px;
        align-self: center;
        background: url('../public/images/logo_isedol.png') no-repeat;
        background-size: contain;
    }

    .right_images_wrapper, .left_images_wrapper {
        display: flex;
        flex-direction: column;
        min-width: 342px;
        max-width: 960px;
        align-self: center;
        
        .blank {
            min-width: 12px;
            width: 170px;
            background-color: #000;
        }

        .upper_wrapper {
            display: flex;
            justify-content: space-between;
    
            img {
                height: fit-content;
                min-width: 170px;
                max-width: 320px;
            }
        }
    
        .lower_wrapper {
            display: flex;
            justify-content: space-between;

            img {
                height: fit-content;
                min-width: 170px;
                max-width: 320px;
            }
        }
    }
}
