$maxWeb: 1920px;
$maxTablet: 1124px;
$maxMobile: 675px;

$maxPage: 1280px;

@mixin aboutSectionContainer {
  position: relative;
  width: 100%;
  max-width: 1800px;
  min-height: 140vh;
  margin: 0 auto;
  text-align: center;

  .contents_wrapper {
    position: sticky;
    padding-top: 450px;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
  }
}