.wrapper {
  width: 100%;
  overflow: auto;

  & > div {
    margin: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;

  & > span {
    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }
}

.page {
  padding: 8px 16px;
  border-radius: 8px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #f3f3f3;
  }

  &[data-active="true"] {
    background-color: #D0F3E2;
    color: #108B2B;
    cursor: unset;
  }
}

.next_prev_btn {
  min-width: 64px;
}