@import '../../mixin.scss';

.wrapper {
  width: 100%;
  overflow: auto;

  & > div {
    margin: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1em;

  & > span {
    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  @media screen and (max-width: $maxTablet) {
    gap: 6px;
  }
}

.page {
  padding: 8px 16px;
  border-radius: 8px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #f3f3f3;
  }

  &[data-active='true'] {
    background-color: #d0f3e2;
    color: #108b2b;
    cursor: unset;
  }

  @media screen and (max-width: $maxTablet) {
    padding: 6px 14px;
  }
}

.next_prev_btn {
  min-width: 64px;
}
